html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=tel],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none !important;
    outline-style: none;
}

input:focus-visible {
    outline-width: 0px;
}

textarea:focus-visible {
    outline-width: 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}


/* ----------Styling---------- */

/* fonts poppins  */
@font-face {
    font-family: poppins;
    src: url(../Fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppinsbold;
    src: url(../Fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppinssemibold;
    src: url(../Fonts/Poppins-SemiBold.ttf);
}

/* ================================== */

* {
    font-family: poppins;
    box-sizing: border-box;
}

.container {
    width: 1285px;
    margin: 0px auto;
}

@media screen and (max-width:1284px) {
    .container {
        width: auto;
        overflow: hidden;
    }
}

@media screen and (min-width:1284px) {
    .dropdown {
        display: none;
    }
}





/* ============================== */

/* header section  */

header {
    padding: 0;
    background-color: #fff4e6;
}

header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 146px;
}

li {
    display: inline;
}

li a {
    color: black;
    margin: 14px 27px;
    text-decoration: none;
    font-size: 16px;
}

li :hover {
    color: #fe8801;
}



/* about section  */

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 93px;
    padding-top: 165px;
    padding-bottom: 65.5px;
}




.about .left h1 {
    font-size: 86.41px;
    font-family: poppinsbold;
    line-height: 92.2px;
}

.about .left p {
    width: 551px;
    margin: auto;
    margin-top: 18px;
    margin-bottom: 40px;
    font-size: 16px;
}

.about .left a {
    text-decoration: none;
    color: white;
    background-color: #42c2b2;
    padding: 20px 60px;
    border-radius: 10px;
    font-size: 18px;
}

.about .left a:hover {
    background-color: #09a190;
}


.about .right img {
    /* height: 404px; */
    transition: 1s;
}

.about .right img:hover {
    border-radius: 30px;
}

/* services  */

.services {
    padding-top: 65.5px;
}

.services h2 {
    font-size: 55.42px;
    font-weight: lighter;
}

.services-img-txt {
    position: relative;
    text-align: center;
    color: white;
}

.services-img-txt .text {
    position: absolute;
    bottom: 0;
    font-size: 20.33px;
    padding: 20px;
}

.services-img-txt .shadow {
    position: absolute;
    bottom: 0;
}

.services-img {
    margin-top: 34px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 14.78px;
    padding-bottom: 172.22px;
}

.services-img .services-img-txt a {
    display: block;
}


/* footer  */

footer {
    padding: 0;
    overflow: hidden;
    background-color: #fff4e6;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer {
    width: 1825px;
    height: 391px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-img {
    padding-top: 84px;
}

.footer .footer-img img {
    width: 100%;
}

footer p {
    font-family: poppinssemibold;
    color: #555555;
    padding-bottom: 67px;
}

footer .social {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.9em;
    padding-bottom: 46.22px;
    padding-top: 48px;
}

footer .social a {
    text-decoration: none;
}

footer .social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    padding: 9.52px 10.51px 10.36px 10.6px;
    transition: 1s;
}

footer .social a:hover {
    transform: scale(1.5);
    background-color: #fe8801;
}


/* ====================================== */
/* drop down menu  */

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #fe8801;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #fe8801;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}


.dropdown:hover .dropdown-content {
    display: block;
}

/* ========================================== */